* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'my-roboto';
    src: url(/assets/Roboto-Regular.ttf);
}


.Dashboard {
    --icon-width: 20px;


    font-family: 'my-roboto';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-row: 1 / span 2;
}

.sidebar-grid-container {
    padding-top: 16px;
    display: grid;
    justify-items: center;
    gap: 48px;
}

.item {
    padding:0 8px;
    width: 160px;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 4px;
}

.icon {
    width: var(--icon-width);
}

.icon > img {
    width: 100%;
}

/* for Dashboard logo */
.item.logo {
    font-size: 28px;
    width: 200px;
}

.logo > .icon {
    width: 40px;
}

.navigations {
    display: grid;
    gap: 16px;
}
/* for header style */
.header {
    --width-user-picture: 50px;
    --font-size-user-name: 1em;


    display: grid;
    grid-template-columns: minmax(400px, 60%) 1fr;
    grid-template-rows: 60px 1fr;
}

.search {
    padding-left: 24px;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.search .icon ,
.user-info-top-right .icon{
    --icon-width: 28px;
    cursor: pointer;
}

.search-bar input {
    background-color: rgb(173, 174, 174);
    width: 90%;
    height: 32px;
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 4px 16px;
    font-size: 1em;
}

.user-info-top-right {

    display: grid;
    grid-template-columns: repeat(2, 70px) 180px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.user-info-top-right .user-picture , 
.user-info .user-picture {
    width: var(--width-user-picture);
    height: var(--width-user-picture);
    border-radius: 50%;
    overflow: hidden;
}

.user-picture > img {
    width: 100%;
    height: 100%;
}

.user-info-top-right .user-name , 
.user-info .user-name {
    font-size: var(--font-size-user-name);
    font-weight: bold;
}

.user-info {
    --width-user-picture: 80px;
    --font-size-user-name: 1.2em;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
}

.user-info > .user-picture {
    grid-row: 1 / span 2;
    justify-self: end;
}

.user-info .user-name ,
.user-info p {
    padding-left: 16px;
}

.user-info p {
    font-size: 0.9em;
    align-self: flex-end;
} 



/* for just testing  */
.Dashboard > * {
    border: 1px solid #000;
}

.header > * {
    border: 1px solid #000;
}
